* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 16px;
    cursor: pointer;
}

button i {
    font-size: 2rem;
}