* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    background-color: bisque;
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 2rem 3rem;
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.game-board h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    font-style: unset;
    color: #8a2be2;
    margin: 0.5rem auto;
}

.game-display {
    background-color: burlywood;
    flex: 1;
    border: none;
    border-radius: 1rem;
}

.game-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

.game-btns button {
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 1rem;
}

.game-btns button i {
    font-size: 2rem;
}