* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    background-color: bisque;
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 2rem 3rem;
}

.game-btns button {
    padding: 12px 16px;
    cursor: pointer;
}

.game-btns button i {
    font-size: 2rem;
}